@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cyan: 180 66% 49%;
  --dark-violet: 257 27% 26%;
  --red: 0 87% 67%;
  --neutral-gray: 0 0% 75%;
  --grayish-violet: 257 7% 63%;
  --very-dark-blue: 255 11% 22%;
  --very-dark-violet: 260 8% 14%;

  --body-copy: 1.125rem;
}

.line {
  width: 8px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin-inline: auto;
  background-color: hsl(var(--cyan));
}

@media (min-width: 1024px) {
  .line {
    width: 100%;
    position: absolute;
    height: 8px;
    top: 0;
    bottom: 0;
    margin-block: auto;
    background-color: hsl(var(--cyan));
  }
  .benefit {
    height: 270px;
  }
  .benefit:nth-child(2) {
    margin-top: 2.5rem;
  }
  .benefit:nth-child(3) {
    margin-top: 5rem;
  }
}
